.pokemon{
    margin: 0 auto;
    width: 350px;
    height: 200px;
    padding-top: 100px;
}


.pokemon_item{
    align-items: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    background: rgba(218, 136, 199, 0.38);
    border-radius: 8px;
    border: 1px solid #ffffff;
    text-align: left;
    color: white;
    backdrop-filter: blur(4px);
    font-family: sans-serif;
}

.pokemon_item img{
    width: 300px;
    height: 300px;
    padding: 10px;
}

.pokemon_info{
    display: flex;
    flex-direction: column;
    padding: 17px;
    gap: 10px;
}

.pokemon_card{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.pokemon_title{
    font-weight: normal;
    color: #ffffff;
}
