*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.box{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}