.form_bg{
    /*width: 100vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form{
    border-radius: 6px;
    backdrop-filter: blur(6px);
    width: 500px;
    height: 500px;
    align-items: center;
    align-content: center;
    border: 1px solid white;
}

.form p{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
    font-weight: 600;
}

.input_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}

.input_user{
    font-family: sans-serif;
    width: 80%;
    padding: 15px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
}

.input_user:focus{
    outline: none;
}

.input_user::-webkit-input-placeholder {
    color: white;
}

.input_user::-webkit-outer-spin-button,
.input_user::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
