
.users{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: rgba(44, 25, 52, 0.62);
    border: 1px solid white;
    backdrop-filter: blur(6px);
    font-family: sans-serif;
    color: white;
    padding: 20px;
    border-radius: 6px;
    width: 730px;
    gap: 20px;
}
.user_card{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.user_link{
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    padding: 8px 20px;
    border-radius: 6px;
    border: 1px solid white;
    background: none;
    color: white;
    transition: 300ms ease-in-out;
}
.user_link:hover{
    background: rgba(100, 57, 114, 0.72);
}

.user_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border-radius: 6px;
}

