:root{
    --bg-color: #3c7c7e;
}

.btn{
    width: 100px;
    font-family: sans-serif;
    padding: 8px 0;
    border-radius: 6px;
    border: 1px solid #838383;
    background: white;
    color: black;
    transition: 300ms ease-in-out;
}

.btn:hover{
    color: white;
    background-color: black;
}