:root{
    --bg-color: #772929;
}

.list{
    width: 740px;
    height: 130px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    color: black;
    border-radius: 6px;
    border: 2px solid var(--bg-color);
    transition: 200ms ease-in-out;
}

.list p{
    padding-left: 20px;
    font-size: 16px;
}

.edit_card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.edit_card input{
    border-radius: 6px;
    text-align: center;
}

.isDone{
    background: #83d783;
    border: 2px solid #3c7c7e;
    color: #000000;
}

.isDone p{
    text-decoration: line-through;
}

.btn_box{
    display: flex;
    flex-direction: row;
    gap: 30px;
}