.pokemon_item{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: rgba(138, 190, 250, 0.46);
    backdrop-filter: blur(6px);
    border-radius: 6px;
    border: 1px solid #ffffff;
    /*padding: 16px;*/
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.pokemon_item img{
    width: 150px;
    margin: 16px;
    height: 150px;
}

.pokemon_card{
    display: flex;
    flex-direction: column;
}

.pokemon_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pokemon_text{
    color: #ffffff;
    font-family: sans-serif;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
}

.pokemon_name{
    font-weight: normal;
    font-family: sans-serif;
    color: #ffffff;
}

.pokemon_name::first-letter{
    text-transform: uppercase;
}

.link{
    cursor: pointer;
    text-decoration: none;
    background: none;
    margin: 10px;
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid #ffffff;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    transition: 300ms;
}

.link:hover{
    background: rgba(151, 103, 178, 0.49);
    color: white;
}